.p0 {
  padding: 0rem; }

.pl0 {
  padding-left: 0rem; }

.pr0 {
  padding-right: 0rem; }

.pt0 {
  padding-top: 0rem; }

.pb0 {
  padding-bottom: 0rem; }

.pv0 {
  padding-top: 0rem;
  padding-bottom: 0rem; }

.pg0 {
  padding-left: 0rem;
  padding-right: 0rem; }

.m0 {
  margin: 0rem; }

.ml0 {
  margin-left: 0rem; }

.mr0 {
  margin-right: 0rem; }

.mt0 {
  margin-top: 0rem; }

.mb0 {
  margin-bottom: 0rem; }

.mv0 {
  margin-top: 0rem;
  margin-bottom: 0rem; }

.mg0 {
  margin-left: 0rem;
  margin-right: 0rem; }

.ml-0 {
  margin-left: -0rem !important; }

.mr-0 {
  margin-right: -0rem !important; }

.mt-0 {
  margin-top: -0rem !important; }

.mb-0 {
  margin-bottom: -0rem !important; }

.p5 {
  padding: 0.5rem; }

.pl5 {
  padding-left: 0.5rem; }

.pr5 {
  padding-right: 0.5rem; }

.pt5 {
  padding-top: 0.5rem; }

.pb5 {
  padding-bottom: 0.5rem; }

.pv5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.pg5 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.m5 {
  margin: 0.5rem; }

.ml5 {
  margin-left: 0.5rem; }

.mr5 {
  margin-right: 0.5rem; }

.mt5 {
  margin-top: 0.5rem; }

.mb5 {
  margin-bottom: 0.5rem; }

.mv5 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.mg5 {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.ml-5 {
  margin-left: -0.5rem !important; }

.mr-5 {
  margin-right: -0.5rem !important; }

.mt-5 {
  margin-top: -0.5rem !important; }

.mb-5 {
  margin-bottom: -0.5rem !important; }

.p10 {
  padding: 1rem; }

.pl10 {
  padding-left: 1rem; }

.pr10 {
  padding-right: 1rem; }

.pt10 {
  padding-top: 1rem; }

.pb10 {
  padding-bottom: 1rem; }

.pv10 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.pg10 {
  padding-left: 1rem;
  padding-right: 1rem; }

.m10 {
  margin: 1rem; }

.ml10 {
  margin-left: 1rem; }

.mr10 {
  margin-right: 1rem; }

.mt10 {
  margin-top: 1rem; }

.mb10 {
  margin-bottom: 1rem; }

.mv10 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.mg10 {
  margin-left: 1rem;
  margin-right: 1rem; }

.ml-10 {
  margin-left: -1rem !important; }

.mr-10 {
  margin-right: -1rem !important; }

.mt-10 {
  margin-top: -1rem !important; }

.mb-10 {
  margin-bottom: -1rem !important; }

.p15 {
  padding: 1.5rem; }

.pl15 {
  padding-left: 1.5rem; }

.pr15 {
  padding-right: 1.5rem; }

.pt15 {
  padding-top: 1.5rem; }

.pb15 {
  padding-bottom: 1.5rem; }

.pv15 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.pg15 {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.m15 {
  margin: 1.5rem; }

.ml15 {
  margin-left: 1.5rem; }

.mr15 {
  margin-right: 1.5rem; }

.mt15 {
  margin-top: 1.5rem; }

.mb15 {
  margin-bottom: 1.5rem; }

.mv15 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.mg15 {
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.ml-15 {
  margin-left: -1.5rem !important; }

.mr-15 {
  margin-right: -1.5rem !important; }

.mt-15 {
  margin-top: -1.5rem !important; }

.mb-15 {
  margin-bottom: -1.5rem !important; }

.p20 {
  padding: 2rem; }

.pl20 {
  padding-left: 2rem; }

.pr20 {
  padding-right: 2rem; }

.pt20 {
  padding-top: 2rem; }

.pb20 {
  padding-bottom: 2rem; }

.pv20 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.pg20 {
  padding-left: 2rem;
  padding-right: 2rem; }

.m20 {
  margin: 2rem; }

.ml20 {
  margin-left: 2rem; }

.mr20 {
  margin-right: 2rem; }

.mt20 {
  margin-top: 2rem; }

.mb20 {
  margin-bottom: 2rem; }

.mv20 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.mg20 {
  margin-left: 2rem;
  margin-right: 2rem; }

.ml-20 {
  margin-left: -2rem !important; }

.mr-20 {
  margin-right: -2rem !important; }

.mt-20 {
  margin-top: -2rem !important; }

.mb-20 {
  margin-bottom: -2rem !important; }

.p25 {
  padding: 2.5rem; }

.pl25 {
  padding-left: 2.5rem; }

.pr25 {
  padding-right: 2.5rem; }

.pt25 {
  padding-top: 2.5rem; }

.pb25 {
  padding-bottom: 2.5rem; }

.pv25 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }

.pg25 {
  padding-left: 2.5rem;
  padding-right: 2.5rem; }

.m25 {
  margin: 2.5rem; }

.ml25 {
  margin-left: 2.5rem; }

.mr25 {
  margin-right: 2.5rem; }

.mt25 {
  margin-top: 2.5rem; }

.mb25 {
  margin-bottom: 2.5rem; }

.mv25 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }

.mg25 {
  margin-left: 2.5rem;
  margin-right: 2.5rem; }

.ml-25 {
  margin-left: -2.5rem !important; }

.mr-25 {
  margin-right: -2.5rem !important; }

.mt-25 {
  margin-top: -2.5rem !important; }

.mb-25 {
  margin-bottom: -2.5rem !important; }

.p30 {
  padding: 3rem; }

.pl30 {
  padding-left: 3rem; }

.pr30 {
  padding-right: 3rem; }

.pt30 {
  padding-top: 3rem; }

.pb30 {
  padding-bottom: 3rem; }

.pv30 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.pg30 {
  padding-left: 3rem;
  padding-right: 3rem; }

.m30 {
  margin: 3rem; }

.ml30 {
  margin-left: 3rem; }

.mr30 {
  margin-right: 3rem; }

.mt30 {
  margin-top: 3rem; }

.mb30 {
  margin-bottom: 3rem; }

.mv30 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.mg30 {
  margin-left: 3rem;
  margin-right: 3rem; }

.ml-30 {
  margin-left: -3rem !important; }

.mr-30 {
  margin-right: -3rem !important; }

.mt-30 {
  margin-top: -3rem !important; }

.mb-30 {
  margin-bottom: -3rem !important; }

.p50 {
  padding: 5rem; }

.pl50 {
  padding-left: 5rem; }

.pr50 {
  padding-right: 5rem; }

.pt50 {
  padding-top: 5rem; }

.pb50 {
  padding-bottom: 5rem; }

.pv50 {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.pg50 {
  padding-left: 5rem;
  padding-right: 5rem; }

.m50 {
  margin: 5rem; }

.ml50 {
  margin-left: 5rem; }

.mr50 {
  margin-right: 5rem; }

.mt50 {
  margin-top: 5rem; }

.mb50 {
  margin-bottom: 5rem; }

.mv50 {
  margin-top: 5rem;
  margin-bottom: 5rem; }

.mg50 {
  margin-left: 5rem;
  margin-right: 5rem; }

.ml-50 {
  margin-left: -5rem !important; }

.mr-50 {
  margin-right: -5rem !important; }

.mt-50 {
  margin-top: -5rem !important; }

.mb-50 {
  margin-bottom: -5rem !important; }

@media (max-width: 768px) {
  .pgsm10 {
    padding-left: 1rem;
    padding-right: 1rem; } }
/********************************************/
/*                width                     */
/********************************************/
.mw {
  margin: auto;
  max-width: 1230px;
  margin: 0 1rem;
  position: relative; }

/********************************************/
/*                  Float                   */
/********************************************/
.fl {
  float: left; }

.fr {
  float: right; }

/********************************************/
/*                Text-align                */
/********************************************/
.al {
  text-align: left; }

.ar {
  text-align: right; }

.aj {
  text-align: justify; }

.ac {
  text-align: center; }

/********************************************/
/*                Vertical-align                */
/********************************************/
.vat {
  vertical-align: top; }

.vam {
  vertical-align: middle; }

.vab {
  vertical-align: bottom; }

/********************************************/
/*                 Overflow                 */
/********************************************/
.oh {
  overflow: hidden !important; }

.ov {
  overflow: visible !important; }

.os {
  overflow: scroll !important; }

.oa {
  overflow: auto !important; }

/********************************************/
/*                 Display                  */
/********************************************/
.dn {
  display: none; }

.db {
  display: block; }

.di {
  display: inline; }

.dib {
  display: inline-block; }

/********************************************/
/*                  w-fix                   */
/********************************************/
.wf10 {
  width: 10rem !important; }

.wf15 {
  width: 15rem !important; }

.wf20 {
  width: 20rem !important; }

.wf30 {
  width: 30rem !important; }

/********************************************/
/*                  h-fix                   */
/********************************************/
.hf36 {
  height: 36rem; }

.hf30 {
  height: 30rem; }

.hf18 {
  height: 18rem; }

.hf17 {
  height: 17rem; }

.hf16 {
  height: 16rem; }

.hf15 {
  height: 15rem; }

.hf12 {
  height: 12rem; }

.hf11 {
  height: 11rem; }

.hf10 {
  height: 10rem; }

.hf20 {
  height: 20rem; }

/********************************************/
/*               background                 */
/********************************************/
.bgno {
  background: none !important; }

/********************************************/
/*               border                     */
/********************************************/
.bb {
  border-bottom-width: 1px;
  border-bottom-style: solid; }

.br {
  border-right-width: 1px;
  border-right-style: solid; }

.bt {
  border-top-width: 1px;
  border-top-style: solid; }

.bl {
  border-left-width: 1px;
  border-left-style: solid; }

.bo {
  border-width: 1px;
  border-style: solid; }

/*# sourceMappingURL=hlp.css.map */
