.header_top{
  background: #dce5e9;
  font-size: 12px;
  line-height: 12px;
  padding: 8px 0;
}
.main_header_mobile{
  display: none;
}
.main_header {
  position: fixed;
  top: 28px;
  height: 5rem;
  width: 100%;
  background: #fff;
  z-index: 10000;
  a{
    color: #6e6e6e;
    font-size: 0.8rem;
    text-decoration: none;
    &:hover{
      color: #000;
      text-decoration: underline;
    }
  }
  .logo{
    img{
      height: 1rem;
    }
  }
  nav{
    margin: auto;
    .topmenu{
      text-align: center;
      li{
        display: inline-block;
        position: relative;
        z-index: 1000;
        a{
          display: block;
          font-size: 1rem;
          line-height: 1rem;
          padding: 2rem 1rem;
          &:hover{
            color: #000;
            font-weight: bold;
            text-decoration: none;
          }

        }
        &:hover .submenu{
          display: block;
        }
        &:after {
          background-color: #dce5e9;
          display: block;
          content: "";
          height: 2px;
          width: 0%;
          -webkit-transition: width .3s ease-in-out;
          -moz--transition: width .3s ease-in-out;
          transition: width .3s ease-in-out;
        }
        &:hover:after,
        &:focus:after {
          width: 100%;
        }
      }
      .submenu{
        display: none;
        background: #fff;
        padding-top: 0rem;
        position: fixed;
        z-index: 100;
        padding-bottom: 2px;
        li{
          float: left;
        }
      }
    }
  }
}

.main_news{

  .but_a{
    margin: auto;
  }
  img{width: 100%;}
}
.bx-wrapper{
  margin-top: 5.6rem!important;
}
#subscribe{
  border: 1px solid #14a5da;
}
.thanks{
  padding: 5rem 0;
  text-align: center;
  i{
    color: #3dcc89;
    padding-bottom: 1rem;
    font-size: 2rem;
  }
}
.main_footer{
  background: #dce5e9;
  .logo_foot{
    height: 1rem;
  }
  p{
    font-size: 0.8rem;
  }
  ul{
    li{
      display: inline-block;
      padding-right: 1.4rem;
      a{
        font-size: 0.8rem;

      }
    }
  }
  .soc{
    a{
      color: #14a5da;
      padding-right: 0.5rem;
      &:hover{
        color: #001f2b;
      }
    }
  }
}
.copyright{
  background: #001f2b;
  span{
    color: #dce5e9;
    font-size: 0.8rem;
  }
  a{
    color: #dce5e9;
    font-size: 0.8rem;
    padding-left: 1rem;
  }
}
form[name="subscribe"]{
  max-width: 600px;
  margin: auto;
  input, textarea{
    width: 100%;
  }
  p{
    font-size: 12px;
  }
}

@media screen and (min-width: 769px) {
  .cell {
    background: none!important;
  }
}
@media screen and (max-width: 768px) {
  .header_top, .main_header{
    display: none;
  }
  .main_header_mobile{
    background: #fff;
    display: block;
    position: fixed;
    height: 26px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    img{
      height: 16px;
      padding-top: 5px;
    }
    i{
      font-size: 26px;
    }
  }
  #burger_block{
    position: fixed;
    top: 3.6rem;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 10000;
    overflow: hidden;
    .topmenu{
      li{
        text-align: center;
      }
    }
  }
  .bx-wrapper {
    margin-top: 3.6rem !important;
  }
  h2{
    text-align: center;
  }

  .about{
    a{
      text-align: center;
    }
  }
  .main_news{
    header{
      a{
        display: none;
      }
    }
    .cell{
      height: 200px;
      margin-bottom: 1rem;
      img{
        display: none;
      }
    }
  }
  .main_footer{
    .cell{
      text-align: center;
    }
  }
  .copyright{
    .cell{
      text-align: center;
    }
    a{
      padding-right: 1rem;
    }
  }
}